
.header{
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
    position: fixed; /* Giữ cố định menu */
    top: 0; /* Gắn menu vào đầu trang */
    width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 0;
    width: 100vw;
    background: white;
    z-index: 999;
}


.headertop{
    background:#003d79;
    color: white;
    font-size: 18px;
    padding: 8px;
    text-align: center;
}
.headermain .inner-swap{
   
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.headermain .logoheader a{
    color: #003d79;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.headermain .logoheader img {
    padding-left: 200px;
    height: 60px;
    width: auto;
    margin-right: 50px;
    align-items: center;
    margin-top: -10px;
}



.headermain .inner-menu ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
   
}
.headermain .inner-menu ul {
    display: flex;
    justify-content: center;
    width: 100%;
}
.headermain .inner-menu ul li{
    margin-left:60px;
    margin-right: 60px;
}

.headermain .inner-menu li a:hover {
    color: gold; /* Đổi sang màu vàng khi rê chuột vào */
}
.headermain .inner-menu ul li a{
    color: #003d79;
    font-size: 18px;
    text-align: center;
}

.headermain .inner-menu {
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}