
    .tong_quat{
    max-width: 1200px; /* chiều rộng tối đa */
    margin: 0 auto;    /* canh giữa */
    padding: 0 40px;
    }
    .tieu_de{
        margin-top: 40px;
        text-align: center;
        color:#003d79;
        font-weight: bold;
        font-size: 35px;
    } 
    .tong {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 30px 50px;
    }

    .tong_1 {
    flex: 0 0 auto; /* không co giãn, giữ cố định */
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .tong_1 img {
        width: 100%;
        border-radius: 20px;  /* bo góc nhẹ */
        object-fit: cover;
    }

    .tong_2 {
        flex: 1;              /* phần chữ co giãn theo không gian còn lại */
    }
    .tong_2 h5{
        font-size: 20px;
        font-weight: normal;
    }
    .content {
    display: flex;
    justify-content: space-between;
    padding-left: 20px; 
    gap: 30px;        
    }
    .content img {
    width: 100%;                 /* mỗi ảnh sẽ theo khung div */
    max-width: 100%;             /* tránh bị tràn */
    height: auto;
    object-fit: cover;
    border-radius: 10px;         /* bo nhẹ nếu muốn đẹp hơn */
    }
    .trai, .giua, .phai {
    flex: 1; 
    text-align: center;
    /* chia đều 3 khung ảnh */
    }
    .phu{
        color:#003d79 ;
        font-weight: bold;
    }
    .trai h5{
        font-weight: normal;
        font-size: medium;
    }

    .content img, 
.content_1 img {
    display: block;      /* bỏ inline để không bị canh giữa */
    margin: 0;           /* bỏ khoảng cách tự động */
}
.gac, .chao {
    flex: 1;
    text-align: left;  /* căn trái */
}